<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.smalltitle | escape }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            © {% if site.author %}
              {{ site.author | escape }}
              
            {% else %}
              {{ site.myname| escape }},
            {% endif %}
             2017-2020
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            <li><a href="https://drive.google.com/file/d/1w5bSRMwB7hLyceUccWK2UPSgzCz-NBcX/view?usp=sharing">Curriculum Vitae</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
